.input-area {
  display: flex;
  justify-content: center;
  height: 40px;
  * {
    border: 1px solid black;
  }
  .input-area__textbox {
    border-right: none;
    width: 70vw;
    border-radius: 0;
    margin: 0;
  }
  .input-area__submit {
    border-left: none;
    background-color: transparent;
    margin: 0;
    padding-right: 10px;
    padding-left: 20px;
    border-radius: 0;
    color: black;
  }
}
