.todo {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  width: 90vw;
  border: 1px solid black;
  border-radius: 3vw;
  margin: auto;
  margin-top: 20px;
  .todo__trash-button {
    background-color: transparent;
    border: none;
  }
  .todo__checkbox {
    margin-left: 10px;
  }
  &--complete > p {
    text-decoration: line-through;
  }
}
