.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .nav-bar__reset-button {
    height: 40px;
    width: 60px;
    background-color: white;
    border-radius: 10px;
  }
}
